*.ko
/tests/devices/ops
/tests/devices/perm
/tests/devices/state
/tests/devices/prof
/tests/probes/single
/tests/probes/stress
/tests/probes/stress2
/tests/probes/stresses
/tests/probes/stresses2
/tests/probes/perf